body {
    font-family: 'Arial', sans-serif;
    background-color: #000000f4;
    color: white;
}

.titulo{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

#titulo-principal{
    font-size: 5em;
}

#autor{
    border-bottom: 3px solid gold;
}

.marca:hover{
    color: red;
}

h2{
    font-size: 3em;
    border-bottom: 2px solid grey;
}

h3{
    font-size: 2em;
    text-align: center;
}

main{
    margin: 20px;
}

.contenedor-articulos{
    display: flex;
    justify-content: space-around;
}

.articulos{
    padding: 10px;
    background-color: black;
    border: 4px solid red;
    border-radius: 10%;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.lista{
    background-color: rgb(25, 1, 1);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

li{
    border-bottom: 2px solid cyan;

}

.fotos{
    width: 200px;
    border-radius: 10px;
}

footer{
    background-color: black; 
}

.derechos{
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

.footer-redes, .footer-info{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


a{
    border-bottom: 3px solid green;
}

a:hover{
    font-size: 2em;
    border: none;
}

#pagina:hover{
    color:red;
}

#instagram:hover{
    color: orange;
}

#facebook:hover{
    color: rgb(87, 87, 192);
}

#twitter:hover{
    font-weight: bold;
}

.footer-info{
    justify-content: space-between;
    font-size: 18px;
    color: white;
}

.info{
    border: 3px solid yellow;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
